/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: rgb(255, 76, 76);
    --shadow: rgba(48, 48, 48, 0.2);
    --primary-s: rgb(250, 32, 32);
    --primary-l: rgba(255, 76, 76, 0.05);
    --primary-sl: rgba(255, 76, 76, 0.03);
    --light-black: #333;
    --montserrat : 'Montserrat', 'sans-serif';
}

/*
    font-family: 'Arapey', serif;

    font-family: 'Bebas Neue', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Roboto', sans-serif;
*/

html, body {
    padding: 0px;
    margin: 0px;
}

.title {
    font-family: var(--montserrat);
    font-size: 3rem;
    text-transform: uppercase;

    text-decoration: underline;     
    text-decoration-color: var(--primary-s);  
    text-decoration-style: solid; 
    text-decoration-thickness: 0.5rem; 
    margin-bottom: 3rem;

    color: var(--primary);
}

.text {
    font-family:  var(--montserrat);
    font-size: 1rem;
    text-align: justify;
}

.popup {
    position: fixed;

    left: calc(100% - 2vh - 35ch);
    top: 2vh;

    border-radius: 2px;

    border: solid 2px var(--primary-s);
    background-color: var(--primary);

    font-family: var(--montserrat);
    color: white;

    width: 35ch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: ease-in-out 0.35s appears; 
}

.popup-title {
    font-size: 2rem;
    padding: 0.5rem;
}

.popup-content {
    font-size: 1rem;
    padding: 0.5rem;

    text-align: justify;
}

.popup-button {
    margin: 1rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;

    align-self: flex-end;

    background-color: white;
    color: var(--primary);

    font-weight: 500;

    cursor: pointer;    
}


.popup-button:hover {
    background-color: rgb(231, 231, 231);
}

@keyframes appears {
    0% { top: -200px }
    80% {top: 4vh}
    100% { top: 2vh }
}