
.notes-manager {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.notes-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-wrapper {
    display: flex;
}

.note-tools {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    background-color: var(--primary-s);

}

.note-created {
    animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
@keyframes blowUpModal {
    0% {
      transform:scale(0);
    }
    100% {
      transform:scale(1);
    }
  }

.note, .note-selected, .note-created {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid 1px var(--primary);
    width: 66ch;

    box-shadow: var(--shadow) 0px 5px 15px 0px;
}

.note:hover {
    background-color: var(--primary-sl);
}

.note:hover, .note-selected:hover {
    cursor: pointer;
}

.note-selected {
    border: solid 1px var(--primary-s);
    background-color: var(--primary-l);
}

.note-title {
    font-family: var(--montserrat);
    font-size: 2rem;
    text-align: justify;
    color: var(--primary);
    padding-bottom: 0.4rem;
}

.note-title:hover, .note-content:hover {
    cursor: text;
}

.note-date {
    font-size: 0.7rem;
    font-family: var(--montserrat);
    color: var(--light-black);
    padding-bottom: 2rem;
    padding-left: 0.2rem;

    font-style: italic;

}

.note-content {
    font-family: var(--montserrat);
    font-size: 1rem;
    text-align: justify;

    height: auto;

    color: var(--light-black);

    line-height: 1.4rem;
}

.note-title:focus, .note-content:focus {
    outline: 2px solid var(--primary-s);
    border-radius: 1px;
    margin: 0.2rem;

    background-color: white;
}

.tb-button {
    background-image: url(../../../assets/icons/delete.svg);
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.add-button {
    height: 3rem;
    width: 3rem;
}

.tb-button, .add-button {
    background-color: var(--primary);
    color: white;

    border: none;

    font-size: 1.7rem;
}

.tb-button:hover, .add-button:hover {
    background-color: var(--primary-s);
    cursor: pointer;
}


.add-button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@keyframes tooltip-appears {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);

    }
}

.tb-button:hover::after {
    content: 'Delete the note !';
    position: absolute;
    margin-left: 20px;
    padding: 0.4rem;
    background-color: var(--primary);
    color: white;

    font-size: 0.9rem;
    font-family: var(--montserrat);

    border:solid 1px var(--primary-s);
    border-radius: 2px;

    animation: tooltip-appears 0.2s normal;
}

.s-button:hover::after {
    content: 'Search any words in the notes (title, date, contents..) !';
    position: absolute;
    margin-left: 20px;
    padding: 0.4rem;
    background-color: var(--primary);
    color: white;

    font-size: 0.9rem;
    font-family: var(--montserrat);

    border:solid 1px var(--primary-s);
    border-radius: 2px;

    animation: tooltip-appears 0.2s normal;

}

.add-button:hover::after {
    content: 'Create a new note !';
    position: absolute;
    margin-left: 20px;
    padding: 0.4rem;
    background-color: var(--primary);
    color: white;

    font-size: 0.9rem;
    font-family: var(--montserrat);

    border:solid 1px var(--primary-s);
    border-radius: 2px;

    animation: tooltip-appears 0.2s normal;

}





.search-wrapper {
    margin-bottom: 2rem;
}

.s-button {
    color: white;

    background-color: var(--primary);
    border: none;

    height: 2.1rem;
    width: 2.1rem;
    //border-bottom: solid 2px var(--primary-s);
    font-size: 1.2rem;

    background-image: url(../../../assets/icons/search.svg);
    background-size: cover;
}

.s-button:hover {
    background-color: var(--primary-s);
    cursor: pointer;
}


.input {
    padding: 0.2rem;
    color: var(--light-black);
    font-family: var(--montserrat);
    font-size: 1rem;

    border:none;
    border-bottom: solid 2px #ddd;

    height: 2.2rem;

    outline: none;


}

.input:focus {
    border-bottom: solid 2px var(--primary-s);
}


.menu {
    display: flex;
    gap: 0.5rem;
    font-family: var(--montserrat);
    font-style: italic;

    color: var(--light-black);

    margin-bottom: 0.5rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-el {
    width: 5ch;
    text-align: center;
}

.menu-el:hover {
    cursor: pointer;

    text-decoration: underline;     
    text-decoration-color: var(--primary-s);  
    text-decoration-style: solid;  
    font-weight: 600;
}


@media screen and (max-width: 950px) {
    .note, .note-selected {
       width: 33ch;
    }

    .toolbar {
        width: 100%;
    }
}