<div *ngIf="popup.show" class="popup">
    <div class="popup-title">
        {{popup.title}}
    </div>
    <div class="popup-content">
        {{popup.content}}
    </div>
    <div class="popup-button" align="right" (click)="closePopup()">
        Ok
    </div>
</div>

<div class="notes-manager">


    <div class="title">#Note manager</div>

    <div class="search-wrapper">
        <input type="text" class="input" placeholder="Something.." [(ngModel)]="toSearch" (keyup)="checkfieldempty($event)">
        <button class="s-button" (click)="search()"></button>
    </div>


    <div class="menu">
        <div class="menu-el" (click)="setTri()">
            {{tri}}
        </div>
        <div class="menu-el" (click)="addNote()">
            Add
        </div>
        <div class="menu-el" (click)="removeSelectedNote()">
            Del
        </div>
    </div>

    <div class="notes-holder">

        <div  class="note-section" *ngFor="let note of notes; let i = index">
            <div class="note-wrapper">
                <div [ngClass]="{'note-selected': selectedNote==i,'note-created': note.title=='A title'&&selectedNote!=i,'note':selectedNote!=i}" (click)="selectNote(i)">
                    <div class="note-title" contenteditable="true" (blur)="updateTitle($event)">
                        {{note.title}}
                    </div>
                    <div class="note-date">
                        Last edit: {{note.date}}
                    </div>
                    <div class="note-content" contenteditable="true" (blur)="updateContent($event)">
                        {{note.content}}
                    </div>
                </div>
                <button class="tb-button" (click)="removeNote(i)"></button>
            </div>

            <div *ngIf="i != notes.length-1" class="note-tools">
            </div>
        </div>
        <button class="add-button" (click)="addNote()">+</button>
    </div>

</div>
